/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background:url(../images/bg.jpg) top center no-repeat black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    overflow-x: hidden;
}
.topbar {background: white; padding: 10px; margin-bottom: 20px;}
.topbar img {width: 8%;}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* FIM RESET */
.header {
    padding: 20px 0;
}
.romeroSite {width:40px; height: 40px; position: fixed; top:30px; right: 0; z-index: 99999;}
.title {font-family: 'Exo', sans-serif;}
.central {padding-bottom: 80px;}
.central h3 {font-size: 18px;}
.central h5 {font-size: 15px; margin-top:5px; }
.central form {
    width: 80%;
    margin: 0 auto;
}
.romero {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    margin-top:30px;
    text-transform: uppercase;
}
.romero span {color: #ed1c24; font-weight: 700;}
.central label {font-weight: normal;padding-left: 5px;margin-bottom: 5px;}
.central input {
    border:none;
    padding: 20px;
    border-radius: 10px;
}
.aviso {font-size: 14px;color: red;margin-bottom:20px;/* padding-bottom: 20px; */float: left;width: 100%;}
.central h4 {
    color: #ed1c24;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 11px;
}
.central button {
    background: #ed1c24;
    color: white;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    width: 280px;
    margin: 0 auto;
    border:none;
    border-radius: 10px;
    padding:20px;
    font-size: 24px;
}
p.sucesso {    
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0 ;
    color: lightgreen;
    font-weight: bold;
    font-size: 16px;
}
.atencao {color: black;}
.atencao h2 {font-size: 22px;}

#formContato input, select, textarea{
	font-size: 20px !important;
	border: 1px solid #ed1231 !important;
}
#formContato label{
	color: #000
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #000 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #000 !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #000 !important;
}